{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Browse Data" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function(){
{% autoescape off %}
  var submitForm = function() {
      Ext.query('#search_form form')[0].submit();
  };
  var searchButton = new Ext.Button({renderTo: 'submit_search', text: '{% trans "Search" %}',
                                     handler: submitForm});
  var searchInput = new Ext.form.TextField({applyTo: 'search_query', width: 350});
	
	var goButton = new Ext.Button({
		renderTo: 'ask_weights',
		text: 'Go!',
		handler: function(){window.location = "{%url geonode.maps.views.maps_search_page%}";}
	});
{% endautoescape %}
});
</script>
{% endblock %}

{% block main %}
<div class="twocol">
	<h2>{{subtopic.title}}</h2>
	<p>Please define your own weights between 0 and 10!</p>
	<p>When you're done, press the "Calculate" button in order to get the dataset with best quality</p>
	<form action="/quality/weights" method="GET">
		<fieldset>
			<legend>Quality Indicators:</legend>
				<table>
				<tr>
					<td>Geographic Extent</td>
					<td><input type="text" size=3 name="geographicExtent" value=0></td>
				</tr>
				<tr>
					<td>Licensing and Constraints  </td>
					<td><input type="text" size=3 name="licensingConstraint" value=0></td>
				</tr>
				<tr>
					<td>Scale Denominator</td>
					<td><input type="text" size=3 name="scaleDenominator" value=0></td>
				</tr>
				<tr>
					<td>Update</td>
					<td><input type="text" size=3 name="update" value=0></td>
				</tr>
				<tr>
					<td>Temporal Extent</td>
					<td><input type="text" size=3 name="temporalExtent" value=0></td>
				</tr>
				<tr>
					<td>Fitness for Use</td>
					<td><input type="text" size=3 name="fitness4use" value=0></td>
				</tr>
				<tr>
					<td>Thematic Richness</td>
					<td><input type="text" size=3 name="thematicRichness" value=0></td>
				</tr>
				<tr>
					<td>Integration</td>
					<td><input type="text" size=3 name="integration" value=0></td>
				</tr>
				<tr>
					<td>Data Integrity</td>
					<td><input type="text" size=3 name="dataIntegrity" value=0></td>
				</tr>
				<tr>
					<td>Positional Accuracy</td>
					<td><input type="text" size=3 name="positionalAccuracy" value=0></td>
				</tr> 
				<tr>
					<td>Thematic Accuracy</td>
					<td><input type="text" size=3 name="thematicAccuracy" value=0></td>
				</tr>
				<tr>
					<td>Completeness</td>
					<td><input type="text" size=3 name="completeness" value=0></td>
				</tr> 
				<tr>
					<td>The subtopic code is</td>
					<td><input type="text" size=3 name="subtopic_pk" value ={{subtopic.pk}} readonly="readonly"></td>
				</tr>
			</table>
			<br>
			<input type="submit" value="Calculate!">
		</fieldset>
	</form>
<!--	<table>
		<tr>
			<td>
				<p>Scale Denominator</p>
			</td>
			<td>
				<input type="text"/>
			</td>
		</tr>
		<tr>
			<td>
				<p>Geographic Extent</p>
			</td>
			<td>
				<input type="text"/>
			</td>
		</tr>
		<tr><td>...</td></tr>
	</table>-->
</div>

{% endblock %}

{% block sidebar %}
  {% block sidebar_info %}    
  {% endblock %}

{% endblock %}
