{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Browse Data" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function(){
{% autoescape off %}
  var submitForm = function() {
      Ext.query('#search_form form')[0].submit();
  };
  var searchButton = new Ext.Button({renderTo: 'submit_search', text: '{% trans "Search" %}',
                                     handler: submitForm});
  var searchInput = new Ext.form.TextField({applyTo: 'search_query', width: 350});
	
	var goButton = new Ext.Button({
		renderTo: 'ask_weights',
		text: 'Go!',
		handler: function(){window.location = "{%url geonode.maps.views.maps_search_page%}";}
	});
{% endautoescape %}
});
</script>
{% endblock %}

{% block main %}
<div class="twocol">

    <h2>This is the list of the data sub-topics available in the server</h2>
    <p>Please select your subtopic of interest in order to get the dataset of best quality!</p>

	<form action="/quality/ask4weights" method="GET">
		<fieldset>
			<legend>Available sub-topics</legend>
			{% for oneSub in allSubs %}
				{% if oneSub.layersubtopic_set.count > 0 %}
		    		<input type="radio" name="subtopic" value={{oneSub.pk}}/>{{oneSub.title}}
					<br>
				{% endif %}
			{% endfor %}
			<input type="submit" value="Next">
		</fieldset>
	</form>

	<p><strong>GMES Quality Assessment Results</strong></p>

	<table border="5" frame="vsides">
		<tr>
			<th>Indicator</th>
			<th>Score</th>
		</tr>
		<tr>
			<td>Geographic Extent</td>
			<td align='center'>{{qualityRecord.geographicExtent}}</td>
		</tr>
		<tr>
			<td>Licensing and Constraints</td>
			<td align='center'>{{qualityRecord.licensingConstraint}}</td>
		</tr>
		<tr>
			<td>Scale Denominator</td>
			<td align='center'>{{qualityRecord.scaleDenominator}}</td>
		</tr>
		<tr>
			<td>Update</td>
			<td align='center'>{{qualityRecord.update}}</td>
		</tr>
		<tr>
			<td>Temporal Extent</td>
			<td align='center'>{{qualityRecord.temporalExtent}}</td>
		</tr>
		<tr>
			<td>Fitness for Use</td>
			<td align='center'>{{qualityRecord.fitness4Use}}</td>
		</tr>
		<tr>
			<td>Thematic Richness</td>
			<td align='center'>{{qualityRecord.thematicRichness}}</td>
		</tr>
		<tr>
			<td>Integration</td>
			<td align='center'>{{qualityRecord.integration}}</td>
		</tr>
		<tr>
			<td>Data Integrity</td>
			<td align='center'>{{qualityRecord.dataIntegrity}}</td>
		</tr>
		<tr>
			<td>Positional Accuracy</td>
			<td align='center'>{{qualityRecord.positionalAccuracy}}</td>
		</tr>
		<tr>
			<td>Thematic Accuracy</td>
			<td align='center'>{{qualityRecord.thematicAccuracy}}</td>
		</tr>
		<tr>
			<td>Completeness</td>
			<td align='center'>{{qualityRecord.completeness}}</td>
		</tr>
	</table>

</div>
{% endblock %}

{% block sidebar %}
  {% block sidebar_info %}    
  {% endblock %}

{% endblock %}
