{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Browse Data" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
{% endblock %}

{% block main %}
<div class="twocol">

    <h2>This is the list of the layers in the sub-topic of interest</h2>
    <p>They're listed according to the respective total score: click on an item in order to get
		to the data page</p>

	<p><strong>GMES Quality Assessment Results</strong></p>

	<table border="5" frame="vsides">
		{% for layer, score in results.items %}
			<tr>
				<td align='center'>{{layer.title}}</td>
				<td align='center'>{{score}}</td>
				<td align='center'><a href="{{"/data/"|add:layer.typename}}">link</a></td>
			</tr>
		{% endfor %}
	</table>

<!--			<th>Indicator</th>
			<th>Score</th>

		<tr>
			<td>Geographic Extent</td>

		</tr>
		<tr>
			<td>Licensing and Constraints</td>
			<td align='center'>{{qualityRecord.licensingConstraint}}</td>
		</tr>
		<tr>
			<td>Scale Denominator</td>
			<td align='center'>{{qualityRecord.scaleDenominator}}</td>
		</tr>
		<tr>
			<td>Update</td>
			<td align='center'>{{qualityRecord.update}}</td>
		</tr>
		<tr>
			<td>Temporal Extent</td>
			<td align='center'>{{qualityRecord.temporalExtent}}</td>
		</tr>
		<tr>
			<td>Fitness for Use</td>
			<td align='center'>{{qualityRecord.fitness4Use}}</td>
		</tr>
		<tr>
			<td>Thematic Richness</td>
			<td align='center'>{{qualityRecord.thematicRichness}}</td>
		</tr>
		<tr>
			<td>Integration</td>
			<td align='center'>{{qualityRecord.integration}}</td>
		</tr>
		<tr>
			<td>Data Integrity</td>
			<td align='center'>{{qualityRecord.dataIntegrity}}</td>
		</tr>
		<tr>
			<td>Positional Accuracy</td>
			<td align='center'>{{qualityRecord.positionalAccuracy}}</td>
		</tr>
		<tr>
			<td>Thematic Accuracy</td>
			<td align='center'>{{qualityRecord.thematicAccuracy}}</td>
		</tr>
		<tr>
			<td>Completeness</td>
			<td align='center'>{{qualityRecord.completeness}}</td>
		</tr>
	</table>
-->
</div>
{% endblock %}

{% block sidebar %}
  {% block sidebar_info %}    
  {% endblock %}

{% endblock %}
