{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Browse Data" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function(){
{% autoescape off %}
  var submitForm = function() {
      Ext.query('#search_form form')[0].submit();
  };
  var searchButton = new Ext.Button({renderTo: 'submit_search', text: '{% trans "Search" %}',
                                     handler: submitForm});
  var searchInput = new Ext.form.TextField({applyTo: 'search_query', width: 350});
	
	var goButton = new Ext.Button({
		renderTo: 'ask_weights',
		text: 'Go!',
		handler: function(){window.location = "{%url geonode.maps.views.maps_search_page%}";}
	});
{% endautoescape %}
});
</script>
{% endblock %}

{% block main %}
<div class="twocol">

    <h2>This is a list of the available SubTopics</h2>
    <p>Please select the SubTopic of your interest in order to get the dataset of best quality!</p>

    <ul>
	{% for LS in allLS %}
	    <li>{{LS.subtopic.title}}</li>
	{% endfor %}
    </ul>
    
	<a href="{% url quality.views.ask4weights %}">Go!</a>

</div>
{% endblock %}

{% block sidebar %}
  {% block sidebar_info %}    
  {% endblock %}

{% endblock %}
